body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.App {
  margin: 5%;
}

tr {
  transition: .15s ease-in-out;
}

tr:hover {
  background: rgba(0, 0, 0, 0.055);
}

form {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 10px;
  padding: 25px;
  background: rgba(245, 245, 245, 0.363);
}

#table {
  border: 2px solid rgb(141, 141, 141) !important;
}

#tableHead {
  border-bottom: 3px solid rgb(141, 141, 141) !important;
  border-top: 3px solid rgb(141, 141, 141) !important;
}